body {
    margin: 0px;
    display: grid;
    grid:
        "h" 48px 
        "m" auto;
        
    min-height: 100vh;
}

header {
    width: auto;
    grid-area: h;
    background-color: #464646;
    display: flex;
  align-items: center;
}

#logo{
    width: 180px;
    height: 29px;
    margin-left: 190px;
    color: white; 
}

main{
    width: 416px;
    height: 420px;
    grid-area: m;
    display: grid;
    grid:
         "i s" 161px
         "b b" / max-content 1fr;
    margin: auto;
    margin-top: 140px;
    grid-gap: 32px;



}

#img{

    grid-area: i;
    display: block;

}

#status{

    grid-area: s;
    margin-bottom: auto;
    

}

.but{
    grid-area: b;
}



#load{
    margin-top: 30px;

}

#set{
    margin-top: 30px;
}

.but>input{
    height: 48px;
    width: 416px;
    border: 1px solid;
    background-color: transparent;
    outline: none;
}

.stars {
    color: gold;
    margin: 32px;
    margin-left: 0px;
}

p{
    margin-top: 0px;
}

#name{
    margin-top: 0px;
}


