body {
    margin: 0px;
    display: grid;
    grid:
        "h h h" 48px 
        "m m m" auto
        "f f f" 155px ;
    min-height: 100vh;
}
header {
    width: auto;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(top.png);
    color: white;
}
#logo{
    margin-left: 190px;
}

#bur{
    margin-right: 190px;
}

main{
    width: 800px; 
    grid-area: m;
    display: grid;
    grid:
         "n n"
         "i f"
         "c f";
    margin: 80px;  
}

.name{
    grid-area: n;
}

.info{
    grid-area: i;
    background: url(Rectangle_7.png);
    background-repeat: no-repeat;
}

#conquer{
    grid-area: c;
    background-color: black;
    height: 30px;
    width: 100px;
    color:white;

}

#figure{
    grid-area: f; 
}


footer{
    width: auto;
    grid-area: f;
    background: url(vector.jpg);
    padding-left: 100px;
    padding-top: 80px;
    
}

