html
     head
         meta(charset="utf-8")
         link(rel="stylesheet" href="dz.css")

     body
         header
             div(id='logo') ♕ Amazing Checkmates
             div(id='bur')
                 img(src="bur.png")
         main
             section
                 div(class='name')
                     h3 Amazing Checkmates
                     img(src="line.png")
  
             div(class='info')
                     p Reveal your stratedic skills
                     p In the game of kings
         
        

             div(id='figure')
                 img(src='Group_1.png')
        

             input(id="conquer" type="button" value="Conquer")
    

         footer
             div(id='str') Amazing things LLC
    

