body {
    margin: 0px;
    display: grid;
    grid:
        "h h" 48px
        "a m" auto
        "f f" 48px / 240px 1fr;
    min-height: 100vh;
}
header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: black;
    color: white;
}
aside{
    grid-area: a;
}
main{
    grid-area: m;
}
footer{
    grid-area: f;
}
.buttons>div {
    display: inline-block;
}
.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
}