doctype html
html
     head
         meta(charset="utf-8")
     body
         header
                 span News
         main
                 h3 Заголовок
                 p
                     p
                         input(type="text" placeholder="login") 
                     p
                         input(type="password" placeholder="password") 
                 p
                     input(type="button" value="Войти")
                     input(type="button" value="Зарегистрироваться")
            
         footer
         MY COMPANY
